@use '../base/mixins' as m;
@use '../base/variables' as v;
@use 'sass:math';

.footer {
    padding: math.div(v.$separacion, 2) 0                                                                                                                                                                                                                                                                                     ;
    background-color: v.$grisOscuro;

    .contenedor-footer {
        padding-top: v.$separacion;
    }

    .copyright {
        color: v.$blanco;
        text-align: center;
    }
}